.main-container {
    height: 100%;
}

.header {
    display: flex;
    height: 3rem;
    padding: 1rem 2rem;
    align-items: center;
    background: #1E2832;
}

.title {
    color: white;
    font-family: Verdana, serif;
}

.menu {
    margin: 1rem;
    height: 40rem;
    width: 15rem;
    overflow: auto;
    white-space: nowrap;
}
