<div class="main-container">
  <div class="header">
    <img src="favicon.ico" alt="">
    <h1 class="title">{{messages.coolGames}}</h1>
  </div>
  <div class="content">
    <div class="menu-container">
        <sketch-details *ngFor="let name of sketchNames"
                        class="game-details"
                        [routerLink]="name"
                        [sketchMetadata]="getSketchMetadata(name)">
        </sketch-details>
    </div>
    <div class="canvas-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
