#body {
  height: 100vh;
}

#header {
  display: flex;
  height: 100px;
  padding: 16px 24px;
  align-items: center;
  background: #1E2832;
  color: white;
}

.title {
  color: white;
  font-family: Verdana, serif;
}
